#containerColecoes{
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    flex: 1;
}
#titleColecoes{
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    text-align: center;
}
#containerFiltros{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#labelFiltroColecoes{
    font-size: 19px;
    margin-bottom: 4px;
}
#inputFiltroColecoes{
    border-radius: 4px;
    width: 300px;
    padding: 5px;
    outline: none;
    margin-bottom: 7px;
}
#btnFiltroColecoes{
    background-color: rgb(255, 123, 0);
    width: 120px;
    padding: 7px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 15px;
    margin-right: 10px;
}
#containerCardColecoes{
    margin-top: 20px;
}
.cardColecao{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 10px 10px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.406);
}
.nomeColecao{
    font-size: 22px;
}
.containerGerarRelatorio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: end;
}
.btnGerarRelatorio{
    height: 35px;
    width: 35 px;
    margin-right: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 1px rgb(42, 42, 42);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease
}
.btnGerarRelatorio:hover{
    transform: scale(1.08);
}
.btnGerarRelatorio img{
    height: 100%;
    width: 100%;
}
.deleteColecao{
    background-color: red;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.deleteColecao img{
    width: 65%;
    height: 65%;
}

@media(max-width: 1000px){
    .cardColecao{
        flex-direction: column;
    }
}