#containerLoader{
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.795);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
}
#loader{
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    border-top: 4px solid rgb(255, 94, 0);
    border-right: 4px solid rgba(255, 94, 0, 0);
    border-bottom: 4px solid rgb(255, 94, 0);
    border-left: 4px solid rgba(255, 94, 0, 0);
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}