#alimentacaoContainer{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 550px;
}
#labelsAlimentacao{
    display: flex;
    justify-content: space-around;
}
#labelsAlimentacao label{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* margin: 1px; */
    flex: 1;
    text-align: center;
    padding: 4px;
}
.inputsAlimentacao{
    height: 32px;
    width: 100%;
    display: flex;
    margin-top: 3px;
}
input{
    font-size: 15px;
    border: 1px solid black;
    padding-left: 10px;
}
.inputRefeicao{
    flex: 1;
}
.containerInput{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
}
.containerInput p{
    color: red;
    margin-left: 10px;
}
.inputValor, .inputRefeicao{
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
}
.removerRef{
    background-color: red;
    width: 30px;
    height: 100%;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.removerRef:hover{
    background-color: rgb(196, 0, 0);
}
.imgRemoverRef{
    width: 20px;
}
#addRef{
    background-color: rgb(13, 255, 0);
    color: rgb(0, 0, 0, 0.9);
    font-weight: bold;
    padding: 6px;
    margin-top: 8px;
}

@media(max-width:790px){
    #alimentacaoContainer{
        width: 100%;
    }
    .inputValor, .inputRefeicao{
        width: 20%;
    }
}



