#containerVerificado{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    height: 68px;
    border-radius: 5px;
    padding: 2px;
}

#labelVerificado{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}

#selectVerificado{
    padding: 4px;
    font-size: 15px;
    outline: none;
    height: 100%;
    border: none;
}

@media(max-width: 508px){
    #containerVerificado{
        width: 100%;
    }
}