.containerDateTime{
    display: flex;
    flex-direction: column;
    /* width: 210px; */
    border: 2px solid white;
    border-radius: 5px;
    height: 68px;
    padding: 2px;
}
.labelDateTime{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}

@media(max-width: 508px){
    .containerDate{
        width: 100%;
    }
}
