#containerRelatoriosPreview{
    width: 100%;
    margin-top: 10px;
}
.cardRelatorioPreview{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.943);
    color: black;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.containerItemsCard{
    display: flex;
    width: 100%;
    margin: 0 5px;
}
.itemCard{
    text-align: center;
    font-size: 11.2px;
    color: white;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
}
.titleItemCard{
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 4px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.881);
    font-size: 12px;
    margin-right: 3px
}
.valueItemCard{
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: rgba(201, 201, 201, 0.959);
    border-radius: 4px;
    margin-right: 3px;
    margin-top: 2px;
}
.acessarBtn:hover{
    border-radius: 4px;
    transform: scale(1.2)
}
.lixeiraBtn {
    border: none;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.lixeiraBtn img{
    width: 100%;
    height: 100%;
}
.lixeiraBtn:hover{
    background-color: rgb(93, 1, 1);
}
.editBtn {
    border: none;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: rgba(77, 76, 76, 0);
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.editBtn img{
    width: 100%;
    height: 100%;
}
.editBtn:hover{
    background-color: rgb(210, 210, 210);
}
#btnsEditRelatorio{
    display: flex;
    flex-direction: row;
}
.verificado{
    border-left: 10px solid rgb(0, 255, 150);
}
.naoVerificado{
    border-left: 10px solid rgb(126, 126, 126);
}
.btnCheckboxColecao{
    height: 25px;
    width: 25px;
    cursor: pointer;
    font-weight: bold;
}

@media(max-width: 1200px){
    .cardRelatorioPreview{
        flex-direction: column;
        align-items: start;
    }
    .containerItemsCard{
        margin: 15px 0;
    }
    .containerItemsCard{
        flex-direction: column;
    }
    .titleItemCard{
        font-size: 14.5px;
    }
    .valueItemCard{
        font-size: 14px;
        word-break:break-all;
    }
    .verificado{
        border-top: 10px solid rgb(0, 255, 150);
        border-left: none;
    }
    .naoVerificado{
        border-top: 10px solid rgb(126, 126, 126);
        border-left: none;
    }
    .btnCheckboxColecao{
        position: absolute;
        top: 15px;
        right: 16px
    }
}