#containerColecao{
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.349);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
#conteudoColecao{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    grid-column: 4/10;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    padding: 18px;
    position: relative;
}
#titleColecao{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(45, 45, 45);
    border-radius: 4px;
    padding: 4px;
    font-size: 30px;
}
.idsText{
    color: black;
    font-size: 12px;
}
#labelColecao{
    color: black;
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 14px;
}
#inputColecao{
    outline: none;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 4px;
}
#titleSelecionados{
    color: black;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 19px;
}
#btnCriarColecao{
    background-color: rgb(45, 45, 45);
    padding: 8px 0;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
    color: white;
}
#btnCriarColecao:hover{
    background-color: rgb(74, 203, 4);
    color: white;
}
#btnFechar{
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    color: rgba(34, 34, 34, 0.611);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: white;
    border-radius: 100%;
}

@media(max-width: 1200px){
    #conteudoColecao{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        grid-column: 2/12;
    }
    #titleColecao{
        font-size: 26px;
    }
    #titleSelecionados{
        font-size: 16px;
    }
}

@media(max-width: 600px){
    #titleColecao{
        font-size: 23px;
    }
}