#containerConfirm{
    background-color: rgba(128, 128, 128, 0.791);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contentConfirm{
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px black;
    text-align: center;
}
#btnOk{
    background-color: rgb(69, 69, 69);
    width: 60px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: transform 0.2s ease;
    font-weight: bold;
}
#btnCancel{
    background-color: rgb(255, 0, 0);
    width: 90px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: transform 0.2s ease;
    font-weight: bold;
}
#btnOk:hover{
    transform: scale(1.04)
}
#btnCancel:hover{
    transform: scale(1.04)
}
#btnsConfirm{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

@media(max-width: 630px){
    #contentConfirm{
        width: 80%;
    }
}
