.cardFiltros{
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid white;
}
.inputFiltro, .react-datepicker__input-container input{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    background-color: none;
    padding: 7px;
    outline: none;
    font-size: 16px;
}
.labelFiltro{
    font-size: 14px;
}
.react-datepicker-wrapper{
    width: 100%;
}

@media(max-width: 900px){
    .cardFiltros, .inputFiltro, .react-datepicker__input-container input{
        font-size: 16px;
    }
}


@media(max-width: 440px){
    .cardFiltros{
        width: 100%;
    }
}




