#containerSetores{
    background-color: rgb(58, 58, 58);
    min-height: 100vh;
    padding: 20px;
    flex: 1;
    overflow-x: hidden;
}
#titleSetores{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 35px;
}
#cardContainerSetores{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
.cardSetores{
    display: flex;
    background-color: rgba(211, 211, 211, 0.126);
    box-shadow: 0 0 1px 0.5px white;
    border-radius: 5px;
    padding: 10px;
}
.inputSetores{
    width: 100%;
    border-radius: 3px;
}
.btnExcluir{
    background-color: red;
    border-radius: 3px;
    cursor: pointer;
}
.imgLixeira{
    width: 20px;
    margin: 3px;
}
#btnAdd{
    width: 100%;
    border-radius: 3px;
    padding: 8px 5px;
    margin-top: 15px;
    border: 1px solid white;
    background-color: rgb(0, 255, 0);
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#btnAtualizar{
    width: 210px;
    border-radius: 3px;
    padding: 10px 5px;
    margin-top: 15px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.861);
    cursor: pointer;
}

@media(max-width: 420px){
    #cardContainerSetores{
        grid-template-columns: 1fr;
    }
    #btnAtualizar{
        width: 100%;
    }
}