.containerInputRelatorio{
    display: flex;
    flex-direction: column;
    width: var(--larguraEditarRelatorio);
    border: 2px solid white;
    border-radius: 2px;
    margin: 7px;
    max-height: 200px;
    min-height: 67px;
    border-radius: 5px;
    padding: 2px;
}
.labelInputRelatorio{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}
.inputRelatorio{
    padding: 4px;
    font-size: 15px;
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

@media(max-width: 508px){
    .containerInputRelatorio{
        width: 100%;
    }
}
