.sidebarContainer{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    min-width: 280px;
    height: 100%;
    position: relative;
    transition: max-width 1s ease, min-width 1s ease;
    overflow: hidden;
}
.sidebarContainerFechado{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 0px;
    min-width: 0px;
    overflow: hidden;
    height: 100%;
    transition: max-width 1s ease, min-width 1s ease;
    position: relative;
}
#imgSidebarContainer{
    width: 100px;
    margin: 30px 0;
}
#logoutIcon{
    position: absolute;
    bottom: 15px;
    left: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: filter 0.5s ease;
    border-radius: 100%;
}  
#logoutIcon:hover{
    filter: drop-shadow(0 0 7px white);
}

#btnSidebar{
    color: red;
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer
}
.optionUsersTrue, .optionUsersFalse{
    border-radius: 4px;
    width: 77%;
    max-height: 300px;
    transition: max-height 0.25s linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.optionUsersFalse{
    max-height: 0px;
}
@media(max-width: 1000px){
    .sidebarContainer{
        min-width: 100vw;
        max-width: 100vw;
        z-index: 1000;
        position: absolute;
        transition: max-width 1s ease, min-width 0.75s ease-in-out;
        height: 100vh;
    }
    .sidebarContainerFechado{
        min-width: 0px;
        max-width: 0px;
        transition: max-width 1s ease, min-width 0.75s ease-in-out;
    }
    #btnSidebar{
        position: fixed;
        top: 10px;
        left: 10px;
    }
}
