*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --larguraEditarRelatorio: 210px;
  --cor-principal:rgb(255, 119, 0);
}
html{
  height: 100%;
  width: 100%;
}
body{
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
#containerApp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box
}
select{
  -webkit-appearance: none;
  appearance: none;
}
input{
  -webkit-appearance: none;
  appearance: none;
}