#containerRel{
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    flex: 1;
}
#titleRel{
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    text-align: center;
}
.btnRelatorio{
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.836);
    transition: background-color 0.3s ease;
    backdrop-filter: blur(20px)
}
.btnRelatorio img{
    height: 70%;
    width: 70%;

}
.btnRelatorio:hover{
    background-color: rgb(161, 161, 161);
}