.containerTime{
    display: flex;
    flex-direction: column;
    /* width: 210px; */
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
    height: 68px;
}
.labelTime{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}
.inputTime{
    padding: 4px;
    font-size: 15px;
    outline: none;
    height: 100%;
    border: none;
    color: black;
    border-radius: 0;
}

@media(max-width: 508px){
    .containerTime{
        width: 100%;
    }
}
