#filtrosContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    border-radius: 6px;
    box-shadow: 0 0 5px white;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}
#btnFiltro{
    background-color: rgb(255, 119, 0);
    color: white;
    padding: 12px 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    font-size: 0.9rem;
}
#btnFiltro:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
#titleFiltros{
    margin: 20px 0 10px 0;
    font-size: 1.4rem
}

