.checkBoxContainer{
    display: flex;
    flex-direction: column;
    width: 210px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 7px;
    max-height: 200px;
    min-height: 67px;
    padding: 2px
}
.labelCheckBox{
    background-color: var(--cor-principal);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
    width: 100%;
}
.containerBtns{
    background-color: white;
    height: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    width: 100%;
}
.btnCheckBox{
    height: 100%;
    width: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 2px;  
    cursor: pointer;
}
.btnCheckBoxTrue{
    height: 100%;
    width: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 3px;
    margin-right: 2px;  
    font-size: 12px;
    background-color: rgb(0, 255, 26);
    cursor: pointer;
}
.btnCheckBoxFalse{
    height: 100%;
    width: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 2px;   
    border-radius: 3px;
    font-size: 12px;
    background-color: red;
    cursor: pointer;
}

@media(max-width: 508px){
    .checkBoxContainer{
        width: 100%;
    }
}
